name: Elixir
on: push

env:
  ARC_BUCKET: ${{ secrets.ARC_BUCKET }}
  COVERALLS_PARALLEL: true
  COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}
  GCP_CREDENTIALS: ${{ secrets.GCP_CREDENTIALS }}
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  MIX_ENV: test

# https://github.com/elixir-lang/elixir/blob/master/lib/elixir/pages/Compatibility%20and%20Deprecations.md
jobs:
  elixir_1_10:
    runs-on: ubuntu-20.04
    name: OTP ${{matrix.otp}} / Elixir ${{matrix.elixir}}
    strategy:
      matrix:
        otp: [21.x, 22.x]
        elixir: [1.10.x]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-elixir@v1
        with:
          otp-version: ${{matrix.otp}}
          elixir-version: ${{matrix.elixir}}
          experimental-otp: true
      - run: mix do deps.get, compile --warnings-as-errors
      - run: mix format --dry-run --check-formatted
      # - run: mix credo --strict
      - run: mix coveralls.github

  elixir_1_9:
    runs-on: ubuntu-20.04
    name: OTP ${{matrix.otp}} / Elixir ${{matrix.elixir}}
    strategy:
      matrix:
        otp: [20.x, 21.x, 22.x]
        elixir: [1.9.x]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-elixir@v1
        with:
          otp-version: ${{matrix.otp}}
          elixir-version: ${{matrix.elixir}}
          experimental-otp: true
      - run: mix do deps.get, compile --warnings-as-errors
      - run: mix format --dry-run --check-formatted
      # - run: mix credo --strict
      - run: mix coveralls.github

  elixir_1_8:
    runs-on: ubuntu-20.04
    name: OTP ${{matrix.otp}} / Elixir ${{matrix.elixir}}
    strategy:
      matrix:
        otp: [20.x, 21.x, 22.x]
        elixir: [1.8.x]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-elixir@v1
        with:
          otp-version: ${{matrix.otp}}
          elixir-version: ${{matrix.elixir}}
          experimental-otp: true
      - run: mix do deps.get, compile --warnings-as-errors
      - run: mix format --dry-run --check-formatted
      # - run: mix credo --strict
      - run: mix coveralls.github

  elixir_1_7:
    runs-on: ubuntu-20.04
    name: OTP ${{matrix.otp}} / Elixir ${{matrix.elixir}}
    strategy:
      matrix:
        otp: [19.x, 20.x, 21.x, 22.x]
        elixir: [1.7.x]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-elixir@v1
        with:
          otp-version: ${{matrix.otp}}
          elixir-version: ${{matrix.elixir}}
          experimental-otp: true
      - run: mix do deps.get, compile --warnings-as-errors
      - run: mix format --dry-run --check-formatted
      # - run: mix credo --strict
      - run: mix coveralls.github

  elixir_1_6:
    runs-on: ubuntu-20.04
    name: OTP ${{matrix.otp}} / Elixir ${{matrix.elixir}}
    strategy:
      matrix:
        otp: [19.x, 20.x, 21.x]
        elixir: [1.6.x]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-elixir@v1
        with:
          otp-version: ${{matrix.otp}}
          elixir-version: ${{matrix.elixir}}
          experimental-otp: true
      - run: mix do deps.get, compile --warnings-as-errors
      - run: mix format --dry-run --check-formatted
      # - run: mix credo --strict
      - run: mix coveralls.github
